$nav-height: 35px;
$body-width: 90%;$max-width: 1440px;
$header-font-color: rgb(255, 255, 255);
$header-background: rgb(0, 0, 0);
$active-background: rgba(255, 255, 255);
$active-font-color: rgb(0, 0, 0);
$footer-color: rgba(255, 255, 255);
$footer-background: rgb(0, 0, 0);
$link-color: rgb(0, 0, 0);
$btn-background:  #570078;