@import 'variables';
@import 'mixins';

.main {
  padding-top: $nav-height;
  & .news-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    & .new-container {
      margin: 10px;
      & .new-img {
        padding: 10px;
        width: 100%;
      }
      & .new-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        & .new-title {
          text-align: center;
        }
        & .new-btn {
          padding: 10px;
          background-color: $btn-background;
          border-radius: 10px;
          width: 80px;
          color: $header-font-color;
          &:hover {
            cursor: pointer;
          }
          align-self: center;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    & .news-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .main {
    & .news-list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (max-width: 320px) {
  .main {
    & .news-list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
