@import 'variables';
@import 'mixins';

.main {
  padding-top: $nav-height;
  margin-bottom: 5px;
  .admin-header {
    text-align: center;
  }
  .add-image-section {
    margin: auto;
    .added-image {
      width: 70%;
    }
    .add-image-btn {
      border: none;
      padding: 10px;
      background-color: $btn-background;
      border-radius: 10px;
      width: 100px;
      color: $header-font-color;
      font-size: 1rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .add-news {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: start;
    .input-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .add-news-title {
        width: 95%;
        font-size: 1rem;
        margin: 20px 10px 10px 10px;
      }
      .add-news-text {
        width: 95%;
        font-size: 1rem;
        margin: 10px;
      }
    }
    .add-news-btn {
      border: none;
      padding: 10px;
      background-color: $btn-background;
      border-radius: 10px;
      width: 100px;
      color: $header-font-color;
      font-size: 1rem;
      align-self: end;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

input,
textarea {
  outline: none;
}

@media (max-width: 767px) {
  .main {
    .admin-header {
    }
    .add-image-section {
      margin: auto;
      display: flex;
      flex-direction: column;
      .added-image {
        width: 80%;
      }
      .add-image-btn {
        margin: 8px;
      }
    }
    .add-news {
      display: block;

      .input-container {
        .add-news-title {
        }
        .add-news-text {
        }
      }
      .add-news-btn {
        margin-left: 8px;
      }
    }
  }
}
