@import "variables";
@import "mixins";

.header {
  color: $header-font-color;

  & .nav {
    background-color: $header-background;
    position: fixed;
    z-index: 1000;
    width: $body-width;
    height: $nav-height;
    font-size: 1.5rem;
    padding: 0px;
    display: flex;
    justify-content: space-between;

    & .material-icons{
      display: none;
    }

    & .menu-list {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-around;
      list-style: none;
      margin: 3px 0 3px 0;
      padding: 0 0 0 3px;

      & .menu-item {
        cursor: pointer;
        margin-left: 2px;
        
        & .menu-item-pop {
          display: none;
        }

        &:hover {
          background-color: $active-background;
          color: $active-font-color;
          transition: 2s;
          transform: rotate(360deg);
        }
      }

      & .pop {
        &:hover .menu-item-pop {
          display: flex;
          padding: 5px;
          & .pop-menu-list {
            list-style: none;
            padding: 0;
            & .pop-menu-item {
              padding: 5px;

              &:hover {
                background-color: $header-background;
                color: $header-font-color;
              }
            }
          }
        }
      }

      & .active {
        background-color: $active-background;
        color: $active-font-color;
        padding: 1px 10px;
      }
    }

    & .logo {
      right: 0;
      margin: 2px;
      height: $nav-height - 2px;
      padding-right: 2px;
      animation-name: spin;
      animation-duration: 5000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      & .logo-photo {
        height: 1em;
      }
    }
  }

  & .banner {
    width: auto;
    display: inline-block;
    margin-top: $nav-height;
    overflow: hidden;
  
    & .banner-photo {
      display: block;
      width: 100%;
      animation: banner 5s;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    & .nav {
      display: grid;
      grid-template-areas:
      "burger . . . logo"
    ;
      justify-content: space-between;
      align-items: center;
      & .burger-icon{
        display: block;
        padding-left: 3px;
        grid-area: burger;
        &:hover {
          cursor: pointer;
        }
      }
      & .menu-list {
        display: none;
        & .menu-item {
        }
      }
      & .logo {
        grid-area: logo;
      }
      & .burger-menu {
        padding-left: 5px;
        margin-top: $nav-height;
        position: fixed;
        background-color: #570078;
        list-style: none;
        top: 0;
        bottom: 0;
        left: 5%;
        width: 30%;
        z-index: 1213;
        & .burger-item {
          padding: 10px;
          font-size: 0.75rem;
          & .menu-item-pop {
            display: none;
          }
          a {
            color: white;
          }

          &:not(:first-child) {
            border-top: 1px solid;
          }
          &:hover {
            cursor: pointer;
            background-color: #a100de;
          }
        }
        & .active{
          background-color: #a100de;
        }
        & .pop {
          & .pop-menu {
            display: none;
            padding-left: 5px;
            list-style: none;
            & .pop-menu-item {
              padding: 10px;
              &:hover {
                background-color: #570078;
              }
            }
          }
          &:hover .pop-menu {
            display: block;
          }
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@keyframes banner {
  50%   { opacity: 0; }
  100% { opacity: 1; }
}
