@import "variables";
@import "mixins";

.main {
  margin: 10px;
  & .history-of-fc {
    & .header-history-of-fc {
      text-align: center;
    }
    & .content-history-of-fc {
      display: grid;
      grid-gap: 10px;
      grid-template-areas:
        "text text photo"
        "text text photo";

      & .text-container-history-of-fc {
        grid-area: "text";
        padding: 10px;
      }
      & .container-photo-history-of-fc {
        grid-area: "photo";
        transition: 1s;
        display: block;
        &:hover {
          transform: scale(1.05);
        }
        & .photo-history-of-fc {
          width: 90%;
        }
      }
    }
  }

  & .last-victory {
    & .header-last-victory {
      text-align: center;
    }

    & .content-last-victory {
      height: 800px;
      & .content-scope {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        & .scope {
          font-size: 1.2em;
          padding: 10px;
        }
      }
      & .video-container-last-victory {
        padding-top: 10px;
        margin: auto;
        width: 80%;
        height: 700px;
      }
    }
  }
}
